@import url(https://fonts.googleapis.com/css?family=Oswald|Teko:700);

// COLORS
$primary-color: #FA0E6A;
$secondary-color: #F7C1BB;

// FONTS
$header-font-family: 'Teko', sans-serif;
$body-font-family: 'Oswald', sans-serif;

// ASSETS
$background: asset-path("background-pattern.png");
